body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div[id="main"] {
  position: relative;
  height: 100vh;
  width: 100vw;
}

p:empty::before {
  content: "\200B";
}