div[id="main"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  color: black;
  font-weight: normal;
  font-style: normal;
}

p:empty::before {
  content: "\200B";
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
}

li::before {
  content: " • ";
}

.break-word {
  word-break: break-word;
}